$green_type: rgb(96,190,174);
$green_theme: rgb(239,248,247);
$separate: rgb(217,239,236);
@mixin flex {
  display: flex;
  display: -webkit-flex;
}
@mixin direction($arg) {
  @include flex;
  flex-direction: $arg;
  -webkit-flex-direction: $arg;
}
@mixin middle {
  margin-left: auto;
  margin-right: auto;
}

/*--------------------480px----------------------*/
@media screen and (max-width: 480px) {
  body {
    max-width: 350px;
    margin-top: 10px;
    @include middle;
  }
  /*---------------nav-top-----------------------*/
  #nav-info {
    @include flex;
    flex-direction: column-reverse;
    nav {
      @include middle;
    }
  }
  ul {
    list-style-type: none;
    @include direction(row);
    li {
      margin-left: 2.5px;
      margin-right: 2.5px;
      font-size: 1.4rem;
    }
  }
  .icon {
    @include middle;
    img {
      width: 60px;
      height: auto;
    }
  }
  .pic {
    background: url("../img/discuss01.jpg");
    height: 248px;
    -webkit-background-size: cover;
    background-size: cover;
    @include flex;
    align-items: flex-end;
    -webkit-align-content: flex-end;
  }
  .title-box {
    line-height: 1rem;
  }
  #titleA {
    background-color: #fff;
    font-size: 1rem;
    width: 350px;
  }
  #titleB {
    background-color: black;
    color: #ffffff;
    font-size: 1rem;
    width: 350px;
  }
  aside, #nd-nav {
    display: none;
  }
  /*--------------------content---------------------------*/
  .img img {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .arti-with-pic {
    box-sizing: border-box;
    padding-top: 20px;
  }
}
/*----------------------768px-----------------------*/
@media screen and (min-width: 481px) and (max-width: 768px){
  #wrapper {
    width: 480px;
    margin-top: 20px;
    @include middle;
  }
  .icon img {
    width: 60px;
    height: auto;
    margin-right: 20px;
  }
  ul {
    list-style-type: none;
    li {
      margin-left: 10px;
      margin-bottom: 20px;
      font-size: 1.7rem;
      display: inline-block;
    }
  }
  #nav-info {
    @include flex;
  }
  aside {
    display: none;
  }
  #nd-nav {
    display: none;
  }
  .pic {
    background: url("../img/discuss01.jpg");
    background-size: cover;
    height: 248px;
    @include flex;
    align-items: flex-end;
    width: 480px;
  }
  .title-box {
    width: 100%;
    line-height: 1rem;
    font-size: 1rem;
  }
  #titleA {
    background-color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
  }
  #titleB {
    background-color: black;
    color: #ffffff;
    padding-left: 5px;
  }
  /*---------------------content----------------------*/
  #archives {
    @include flex;
    width: 100%;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    @include middle;
  }
  .arti-with-pic {
    width: 50%;
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
  .img img {
    width: 100%;
  }
}
/*----------------------991px---------------------*/
@media screen and (min-width: 769px) and (max-width: 991px){
  body {
    width: 768px;
    @include middle;
    margin-top: 30px;
  }
  #nav-info {
    @include flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  .icon img{
    width: 100px;
    position: relative;
    top: 15px;
  }
  nav {
    margin-right: 20px;
  }
  ul {
    list-style-type: none;
    li {
      margin-left: 20px;
      margin-bottom: 20px;
      font-size: 1.7rem;
      display: inline-block;
      }
  }
  aside {
    display: none;
  }
  .pic {
    background: url("../img/discuss01.jpg");
    background-size: cover;
    height: 445px;
    @include flex;
    align-items: flex-end;
    width: auto;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }
  /*---------------------content----------------------*/
  .img img {
       width: 100%;
     }
  .option {
    width: 25%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    &:nth-child(2) {
      border-left: solid $separate 0.5px;
    }
    &:nth-child(3) {
      border: solid $separate 0.5px;
    }
    p {
      display: none;
    }
  }
  .title-box {
    font-size: 2.2rem;
    line-height: 30px;
    margin-bottom: 80px;
  }
  #titleA {
    position: relative;
    left: 380px;
    background-color: #fff;
    padding: 15px;
  }
  #titleB {
    background-color: black;
    color: #ffffff;
    padding: 15px;
  }
  #nd-nav {
    @include flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-bottom: 5px;
    background: $green_theme;
  }
  .hero-unit {
    margin-bottom: 10px;
  }
  #archives {
    @include flex;
  }
  .arti-with-pic {
    margin-left: 5px;
    margin-right: 5px;
  }
}
/*----------------more-than-991px--------------*/
@media screen and (min-width: 992px) {
  body {
    margin-top: 50px;
    width: 991px;
    @include middle;
  }
  #wrapper {
    @include flex;
  }
  /*-------------aside------------------*/
  .icon img {
    width: 100px;
    height: auto;
  }
  #nav-info {
    width: 20%;
    li {
      font-size: 2rem;
      margin: 9px 0;
    }
    aside {
      color: rgb(87, 87, 87);
      width: 100px;
      h5 {
        font-size: 1rem;
        text-transform: uppercase;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
  #main {
    width: 80%;
  }
  .pic {
    background: url("../img/discuss01.jpg");
    background-size: cover;
    height: 445px;
    @include flex;
    align-items: flex-end;
    width: auto;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }
  .title-box {
    font-size: 2.2rem;
    line-height: 30px;
    margin-bottom: 80px;
  }
  #titleA {
    position: relative;
    left: 380px;
    background-color: #fff;
    padding: 15px;
  }
  #titleB {
    background-color: black;
    color: #ffffff;
    padding: 15px;
  }
  #nd-nav {
    @include flex;
    background: $green_theme;
    margin-bottom: 10px;
  }
  .option {
    width: 25%;
    text-align: center;
    color: $green_type;
    padding-top: 10px;
    padding-bottom: 10px;
    &:nth-child(2) {
      border-left: solid $separate 0.5px;
    }
    &:nth-child(3) {
      border: solid $separate 0.5px;
    }
  }
  /*------------------------content----------------------*/
  .img img {
    width: 100%;
  }
  #archives {
    @include flex;
  }
  .arti-with-pic {
    margin-left: 5px;
    margin-right: 5px;
  }
}
/*---------------------commonSet--------------------------*/
h3 {
  color: $green_type;
  font-size: 1.8rem;
}
time {
  color: #AAA;
}